@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face /* logo (grand theft auto) */ {
  font-family: 'Pricedown';
  src: url("font/Pricedown.eot");
  src: url("font/Pricedown.eot?#iefix") format("embedded-opentype"), url("font/Pricedown.woff2") format("woff2"), url("font/Pricedown.woff") format("woff"), url("font/Pricedown.ttf") format("truetype"), url("font/Pricedown.svg#Pricedown") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face /* logo (Memory) */ {
  font-family: 'Diploma';
  src: url("font/Diploma.eot");
  src: url("font/Diploma.eot?#iefix") format("embedded-opentype"), url("font/Diploma.woff2") format("woff2"), url("font/Diploma.woff") format("woff"), url("font/Diploma.ttf") format("truetype"), url("font/Diploma.svg#Diploma") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face /* reszta witryny (oprócz stopki, bo tam potrzebne polskie litery) */ {
  font-family: 'BankGothic';
  src: url("font/BankGothic.eot");
  src: url("font/BankGothic.eot?#iefix") format("embedded-opentype"), url("font/BankGothic.woff2") format("woff2"), url("font/BankGothic.woff") format("woff"), url("font/BankGothic.ttf") format("truetype"), url("font/BankGothic.svg#BankGothic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #303030;
  color: #FFFFFF;
  font-family: 'BankGothic', Lato, sans-serif;
  font-size: 25px;
  margin: 0;
}

.container {
  width: 1340px;
  margin: 0 auto;
  text-align: center;
}

.topBar {
  width: 100%;
  background-color: #606060;
  min-height: 177px;
}

.topBar__logo {
  font-family: 'Pricedown', sans-serif;
  -webkit-text-stroke: 1px black;
  width: 100%;
  float: left;
  font-size: 55px;
  margin: 10px 0;
  line-height: 70%;
  text-shadow: -1px -1px 2px #000,   1px -1px 2px #000, -1px  1px 2px #000, 1px  1px 2px #000;
}

.topBar__logoMemory {
  font-family: 'Diploma', serif;
  color: black;
  -webkit-text-stroke: 1px white;
}

.gameMenu {
  width: 100%;
  clear: both;
  height: 50px;
  background-color: #505050;
  line-height: 50px;
  text-transform: uppercase;
  cursor: default;
}

.gameMenu--active {
  cursor: pointer;
}

.gameMenu--active:hover {
  color: rgba(211, 211, 211, 0.849);
}

.gameMenu--deactive {
  color: gray;
}

.footer {
  width: 1330px;
  background-color: #404040;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  padding: 5px;
}

.game {
  background-image: url("../img/openingBackground.jpg");
  background-repeat: no-repeat;
  width: 1024px;
  height: 600px;
  margin: 0 auto;
}

.game--openingBackground {
  background-image: url("../img/openingBackground.jpg");
  cursor: pointer;
}

.game--mainGameBackground {
  background-image: url("../img/mainGameBackground.png");
}

.game__activeFigure {
  width: 1340px;
  height: 600px;
  z-index: 100;
  position: relative;
  background-repeat: no-repeat;
}

.game__activeFigure--0 {
  background-image: url("../img/c0.png");
}

.game__activeFigure--1 {
  background-image: url("../img/c1.png");
}

.game__activeFigure--2 {
  background-image: url("../img/c2.png");
}

.game__activeFigure--3 {
  background-image: url("../img/c3.png");
}

.game__figure {
  position: relative;
  float: left;
  cursor: pointer;
  /*opacity: 0.5; //dla testów */
}

.game__figure:nth-child(1) {
  width: 118px;
  height: 320px;
  left: 167px;
  top: 150px;
  /*background-color: yellow; //dla testów */
}

.game__figure:nth-child(2) {
  width: 85px;
  height: 240px;
  left: 250px;
  top: 98px;
  /*background-color: blue; //dla testów */
}

.game__figure:nth-child(3) {
  width: 83px;
  height: 265px;
  left: 350px;
  top: 173px;
  /*background-color: red; //dla testów */
}

.game__figure:nth-child(4) {
  width: 115px;
  height: 280px;
  left: 530px;
  top: 170px;
  /*background-color: green; //dla testów */
}

.game__figure--defaultPointer {
  cursor: default;
}
/*# sourceMappingURL=style.css.map */