body
{
	background-image: url("../img/siteBg.png"); /* This pattern is downloaded from www.subtlepatterns.com. If you need more, that's where to get'em. */
	color: #fff;
	font-family: 'BankGothic', Lato, sans-serif;
	font-size: 25px;
}