.gameMenu
{
	height: 50px;
	line-height: 50px;
	background-color: #505050;
	text-transform: uppercase;
	cursor: default;

	&--active
	{
		cursor: pointer;

		&:hover
		{
			color: rgba(210, 210, 210);
		}
	}

	&--deactive
	{
		color: rgb(160, 160, 160);
	}
}