.game
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;

    &__figure
    {
        flex-basis: 20%;
        height: 50vh;
        background-color: royalblue;
        cursor: pointer;
        &--active
        {
            background-color: red;
        }
        &:hover
        {
            background-color: rgb(133, 164, 255);
        }
    }
}